<body class="h-screen overflow-hidden flex items-center justify-center" style="background: #edf2f7;">
  <div class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat"
    style="background-image:url('https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
    <div class="rounded-xl bg-gray-800 bg-opacity-50 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8">
      <div class="text-white">
        <div class="mb-8 flex flex-col items-center">
          <h1 class="mb-2 text-3xl">Inicio de Sesión</h1>

        </div>

        <form class="p-3 w-96" [formGroup]="registroForm" (ngSubmit)="travel()">
          <!-- <h2 class="text-2xl font-semibold mb-6">Iniciar Sesión</h2> -->

          <div class="mb-4">
            <label class="block ext-white text-lg font-bold mb-2" for="username">
              Usuario
            </label>
            <input class="w-full border-none bg-green-800 bg-opacity-50 px-6 py-2 text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
              formControlName="email" id="username" placeholder="Email" />
          </div>

          <div class="mb-4">
            <label class="block text-white text-lg font-bold mb-2" for="password">
              Contraseña
            </label>
            <input class="w-full border-none bg-green-800 bg-opacity-50 px-6 py-2 text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
              formControlName="password" id="password" placeholder="Contraseña" />
          </div>

          <div class="flex justify-center text-center w-100">
            <div class="row w-full m-0">
              <button
                class="w-full bg-green-800 text-white py-2 px-4 rounded hover:bg-blue-800 focus:outline-none focus:shadow-outline-blue"
                type="submit">
                Ingresar
              </button>
             
              <div class="pt-4">
                <p class="text-white">No tiene cuenta?<a routerLink="/register" class="text-cyan-400"> Cree una</a></p>
              </div>
              
            </div>


          </div>

        </form>
      </div>
    </div>
  </div>
</body>